//ubuntu
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
//Noto Sans Tc
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Ubuntu:wght@300&display=swap");

//font
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.font-weight-900{
    font-weight: 900;
}